player-connection-mode=Listen
player-connection-guid=3241936996
player-connection-debug=0
player-connection-project-name=AI-ENV
player-connection-ip=192.168.50.189
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=739d53356a8f438b8579320ade17dec3
